@{
    ViewData["Title"] = "Login";
}

<h1>Bienvenido</h1>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="Email" class="control-label">Email</label>
                <input name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label name="Contrasena" class="control-label">Contraseña</label>
                <input type="password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
